%h1.subtitle.subtitle--large Editar conta

%br

= simple_form_for(@user, defaults: { required: false }) do |f|
  = f.error_notification
  .fancy-input.fancy-input--rounded
    = f.input :email, autofocus: true , input_html: { autocomplete: "email" }, label: icon('fas', 'at', class: 'icon icon--purple icon--small'), placeholder: "Email"

  .fancy-input.fancy-input--rounded
    = f.input :password, input_html: { autocomplete: "new-password" }, label: icon('fas', 'unlock-alt', class: 'icon icon--purple icon--small'), placeholder: "Senha"

  .fancy-input.fancy-input--rounded
    = f.input :password_confirmation, input_html: { autocomplete: "new-password" }, label: icon('fas', 'unlock-alt', class: 'icon icon--purple icon--small'), placeholder: "Confirme sua senha"

  = f.submit "Salvar alterações", class: 'button button--clean-white button--transparent button--full-width button--rounded'
