= simple_form_for(@user, defaults: { label: false, input_html: { class: "form-input" }}) do |f|
  - if f.error_notification
    %h2.subtitle= f.error_notification
    %br

  = f.input :name, placeholder: "Nome"
  = f.input :segment, placeholder: "Área de atuação"
  = f.input :city, placeholder: "Cidade"
  = f.input :state, placeholder: "Estado"
  = f.input :description, placeholder: "Fale um pouco sobre você...", input_html: { class: "form-input form-input--text" }

  - if current_user.role == "Boss"
    = f.input :email, placeholder: "Email"
    = f.input :password, placeholder: "Nova Senha"
    = f.input :password_confirmation, placeholder: "Confirmar Senha"

  - else
    %h4 Para fazer alterações, precisamos da sua senha
    = f.input :password, placeholder: "Senha"
    = link_to "Alterar meu email/senha", edit_user_registration_path, class: 'fancy-link fancy-link--purple'

  %br

  %br

  Foto de Perfil
  = f.input :avatar

  = f.submit "Salvar", class: "button button--green"
