.landscape.landscape--white
  %br
  %h3 Vire a tela do celular
  = icon('fas', 'mobile')

#filterrific_results
  %br
  .table
    %table
      %thead
        %tr
          %th Name
          %th Segment
          %th City
          %th State
          %th{:colspan => "3"}
      %tbody
        - users.each do |user|
          %tr
            %td= user.name
            %td= user.segment
            %td= user.city
            %td= user.state
            %td= link_to icon('fas', 'eye', class: 'fancy-link--purple'), user
            %td= link_to icon('fas', 'edit', class: 'fancy-link--blue'), edit_user_path(user)
            %td= link_to icon('fas', 'trash', class: 'fancy-link--red'), user, method: :delete, data: { confirm: 'Are you sure?' }
    = will_paginate users # provided by will_paginate
