.content.content--grey
  .content__inner
    - if flash.any?
      - flash.each do |flash|
        %p#flash{class: "#{flash[0]}"}= flash[1]
    %h1.title.title--purple Editar Perfil
    %br
    = render 'form', user: @user
