.content.content--purple
  .content__inner
    .card--centralized.card--text-center
      -if notice.present?
        %p#notice= notice

      %h1.title.title--white Usuários

      %br

      = form_for_filterrific @filterrific do |f|
        %div.inline
          = f.text_field(                              |
            :search_query,                             |
            class: 'filterrific-periodically-observed form-input', |
            placeholder: 'Buscar por algo...'             |
          )                                            |

        %div.inline
          = f.select(:sorted_by, @filterrific.select_options[:sorted_by])

        %div.inline{style: "margin-bottom: 15px"}
          = link_to reset_filterrific_url, class: "fancy-link" do
            %button.button Apagar Filtros

        %div.inline
          = f.submit "search", class: "button button--green"

      = render(                    |
        partial: 'users/list',     |
        locals: { users: @users  } |
      )                            |


      %br/
      = link_to icon('fas', 'user-plus', 'Novo usuário', class: 'fancy-link fancy-link--white'), new_user_path, class: 'fancy-link fancy-link--white'
