%h1.subtitle.subtitle--large Nova senha

%br/

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, defaults: { required: false }) do |f|
  = f.error_notification
  = f.input :reset_password_token, as: :hidden
  = f.full_error :reset_password_token
  .fancy-input.fancy-input--rounded
    = f.input :password, input_html: { autocomplete: "new-password" }, label: icon('fas', 'unlock-alt', class: 'icon icon--purple icon--small'), placeholder: "Senha"

  .fancy-input.fancy-input--rounded
    = f.input :password_confirmation, input_html: { autocomplete: "new-password" }, label: icon('fas', 'unlock-alt', class: 'icon icon--purple icon--small'), placeholder: "Confirme sua senha"

  = f.submit "Salvar nova senha", class: 'button button--clean-white button--transparent button--full-width button--rounded'

%br/

.advanced-inline
  = render "devise/shared/links"
