%h1.subtitle.subtitle--large Nova senha

%br/

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .fancy-input.fancy-input--rounded
    = f.input :email, autofocus: true , input_html: { autocomplete: "email" }, label: icon('fas', 'at', class: 'icon icon--purple icon--small')

  = f.submit "Enviar instruções para meu email", class: 'button button--clean-white button--transparent button--full-width button--rounded'

%br/

.advanced-inline
  = render "devise/shared/links"
