.content.content--grey
  .content__inner
    .card.card--centralized.card--text-center
      - if notice.present?
        %p#notice= notice

      .profile-picture
        %img.profile-picture__img{src: "#{@user.avatar.url(:profile)}"}

      %h1.title.title--purple= @user.name
      %h1.subtitle= @user.segment
      %h3= @user.city + " | " + @user.state

      %p=@user.description

      - if current_user == @user
        .content__action
          = link_to edit_user_path(@user), class: "fancy-link fancy-link--purple" do
            = icon('fas', 'user-edit', " Editar meu perfil")

      %small.copyright
        © Gilcorp 2018. All right reserved | Made by
        %a{href: "https://rannyeribaptist.github.io"}rannyeribaptist.github.io
