%a.fixed.fixed--left{href: "#{new_user_registration_path}"}
  .button.button--cyan
    É advogado(a)?

.header
  .header__content
    .header__panel
      %h1.title.title--white.title--extra-large Gilcorp

    .header__panel
      .text-center.right
        %h1.title.title--white.title--large Precisando de um advogado?
        %a{:href => new_appointment_path}
          %button.button.button--blue.button--large Solicitar atendimento

    .header__panel
      %p.text.text--white.text--large Se você é um advogado ou está precisando de um, a Gilcorp foi feita pra você!

    %a{:href => "#timeline", class: "header__arrow bouncing"}
      %img{src: "https://icongr.am/clarity/arrow.svg?color=ffffff&size=50"}

.content-section.content-section--light-grey#timeline
  .border.border--left.border--blue2.border--large
    .content-section__inner
      %h1.title.title--extra-large Como Funciona
      %br

      .columns.timeline
        .timeline__small

          .card.card--dark-grey.card--after-left
            .card__content
              %h2.subtitle Solicitação:
              %p.text Preencha o formulário para solicitar atendimento de um dos advogados da nossa rede

          .card.card--dark-grey.card--after-right
            .card__content
              %h2.subtitle Comunidade:
              %p.text Sua solicitação será enviada para a comunidade de advogados da sua região. Sua identificação permanecerá em sigilo

          .card.card--dark-grey.card--after-left
            .card__content
              %h2.subtitle Atendimento:
              %p.text Um dos advogados da nossa rede entrará em contato para iniciar o processo de auxílio de forma presencial

        .timeline__large
          .column.column--2.timeline__column
            .card.card--dark-grey.card--after-right
              .card__content
                %h2.subtitle Comunidade:
                %p.text Sua solicitação será enviada para a comunidade de advogados da sua região. Sua identificação permanecerá em sigilo

          .column.column--1.timeline__column
            .step
              %img{src: "https://icongr.am/clarity/pencil.svg?color=ffffff"}
            %hr.line-step
            .step
              %img{src: "https://icongr.am/clarity/users.svg?color=ffffff"}
            %hr.line-step
            .step
              %img{src: "https://icongr.am/clarity/success.svg?color=ffffff"}

          .column.column--2.timeline__column
            .card.card--dark-grey.card--after-left
              .card__content
                %h2.subtitle Solicitação:
                %p.text Preencha o formulário para solicitar atendimento de um dos advogados da nossa rede
            .card.card--dark-grey.card--after-left
              .card__content
                %h2.subtitle Atendimento:
                %p.text Um dos advogados da nossa rede entrará em contato para iniciar o processo de auxílio de forma presencial



      %h1.title.title--extra-large Vantagens
      %br

      .image-card.image-card--right
        = image_tag("lawyer.jpg")

        .image-card__content
          %h1.title.title--large Para Advogados
          %p.text.text--large Através das nossas ferramentas, você é capaz de se comunicar com outros advogados e organizar seus casos de uma forma muito mais inteligente

      .image-card.image-card--left
        .image-card__content
          %h1.title.title--large Para Clientes
          %p.text.text--large Aqui você irá encontrar advogados capacitados na sua região, de um jeito muito mais rápido e prático

        = image_tag("client.jpg")

.content-section.content-section--black
  .border.border--left.border--cyan.border--large
    .content-section__inner
      .columns
        .column
          %h1.title.title--white Quero um advogado
          %a{:href => new_appointment_path}
            %button.button.button--blue.button--large Solicitar atendimento
        .column
          %h1.title.title--white Sou um advogado(a)
          = link_to new_user_registration_path do
            %button.button.button--cyan.button--large Cadastrar-se
