= simple_form_for(book, defaults: { input_html: { class: 'form-input' } }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  = f.input :author
  = f.association :legislation
  = f.input :name
  = f.input :book

  = f.submit "Salvar", class: "button button--green button--full-width"
