= simple_form_for(Legislation.new, defaults: { input_html: { class: 'form-input' } }) do |f|
  = f.error_notification
  = f.input :name

  = f.submit "Salvar", class: "button button--green button--full-width"
