- content_for :menu do
  .sidebar__content
    .dropdown
      .dropdown__content.toggle{"data-toggle" => "drop-menu-1", "data-filter" => false}
        %h3.title.title--dark-grey.title--small + Livro
      .dropdown__drop#drop-menu-1
        %br
        = render 'form', book: Book.new

    .dropdown
      .dropdown__content.toggle{"data-toggle" => "drop-menu-2", "data-filter" => false}
        %h3.title.title--dark-grey.title--small.title--nowrap + Legislação
      .dropdown__drop#drop-menu-2
        %br
        = render 'legislation-form'

  .sidebar__mobile
    = icon('fas', 'bars', class: 'icon icon--black toggle', "data-toggle" => "mobile-menu")
    .sidebar__mobile-show#mobile-menu
      %a{:href => "#", class: 'fancy-link fancy-link--dark-grey fancy-link--with-icon fancy-link--large toggle', "data-toggle" => "modal_form", "data-filter" => "true", "data-turbolinks" => "false"}
        = icon('fas', 'plus', 'Novo Livro')

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('.toggle').click(function() {
        let id = $(this).attr("data-toggle");
        let filter = $(this).attr("data-filter")

        console.log(filter);

        if (filter) {
          if ($('.site-content').hasClass('filter')) {
          $('.site-content').removeClass('filter');
          } else {
          $('.site-content').addClass('filter');
          }
        }

        $('#' + id).toggle()
      });
    });
