= render 'menu'

.content.content--grey
  .content__inner.content__inner--full-width

    - if flash.any?
      - flash.each do |f|
        %p#flash{class: "#{f[0]}"}= f[1]

    %h1.title.title--purple Livros

    - @books.each_slice(4) do |books|
      .columns
        - books.each do |book|
          .column.column--4
            .card.card--white.card--bordered
              .card__content
                %div{id: "show_#{book.id}"}
                  %h1.subtitle= book.author

                  %br
                  %em= book.name
                  %br

                  %strong= book.legislation.name
                  %a{:href => "#{book.book.url}", target: "_blank"}
                  %br
                  %br
                %div{style: "display:none", id: "form_#{book.id}"}
                  = render 'form', book: book

                %hr
                .advanced-inline
                  %a{:href => "#{book.book.url}", target: "_blank", class: 'fancy-link fancy-link--with-icon fancy-link--purple'}= icon('fas', 'external-link-square-alt', 'Ver')
                  %a{:href => "#", class: 'fancy-link fancy-link--with-icon fancy-link--blue edit', "data-id" => "#{book.id}", "data-turbolinks" => "false"}= icon('fas', 'pen', 'Editar')
                  = link_to book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fancy-link fancy-link--with-icon fancy-link--red' do
                    = icon('fas', 'trash', 'Excluir')

- content_for :modal do
  .modal#modal_form
    .modal__content
      = icon('fas', 'times', class: 'icon icon--close toggle', "data-toggle" => "modal_form", "data-filter" => true)

      %h1.title.title--purple Novo Livro
      %br
      = render 'form', book: Book.new
      %h1.title.title--purple Nova Legislação
      %br
      = render 'legislation-form'

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('.edit').click(function() {
        let id = $(this).attr("data-id");
        $('#show_' + id).toggle()
        $('#form_' + id).toggle()
      });
    });
