%p#notice= notice

%p
  %b Author:
  = @book.author
%p
  %b Legislation:
  = @book.legislation
%p
  %b Name:
  = @book.name
%p
  %b Book:
  = @book.book

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
