%h1.subtitle.subtitle--large Entrar

- if flash.any?
  - flash.each do |f|
    %p#flash{class: "flash #{f[0]}"}= f[1]

%br/

= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.error_notification
  .fancy-input.fancy-input--rounded
    = f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, label: icon('fas', 'at', class: 'icon icon--purple icon--small')
  .fancy-input.fancy-input--rounded
    = f.input :password, required: false, label: icon('fas', 'unlock-alt', class: 'icon icon--purple icon--small'), input_html: { autocomplete: "current-password" }

  = f.input :remember_me, as: :hidden, input_html: {checked: true} if devise_mapping.rememberable?

  = f.submit "Entrar", class: 'button button--clean-white button--transparent button--full-width button--rounded'

%br/

.advanced-inline
  = render "devise/shared/links"
