@import "variables";

#notice {
  color: white;
  background-color: $blue;
  padding: 10px;
}

#flash {
  padding: 10px
}

.alert {
  background-color: #ffff6b;
  color: black;
}

.notice {
  background-color: $blue;
  color: black;
}

.success {
  background-color: $green;
  color: white;
}

.danger {
  background-color: $red;
}
