@import "variables";

.border {
  max-width: 100%;
  height: 100%;

  &--left { border-left: 30px solid }
  &--right { border-right: 30px solid }

  &--blue { border-color: $blue }
  &--blue2 { border-color: $blue2 }
  &--cyan { border-color: $cyan }
  &--purple { border-color: $purple }
  &--light-grey { border-color: $light-grey }
  &--grey { border-color: $grey }
  &--dark-grey { border-color: $dark-grey }
  &--red { border-color: $red }
  &--green { border-color: $green }
  &--yellow { border-color: $yellow }
  &--black { border-color: black }
  &--white { border-color: white }
}
