@import "variables";

.button {
  width: auto;
  height: 30px;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  border: none;

  &--green { background-color: $green; color: white }
  &--blue { background-color: $blue2; color: white }
  &--cyan { background-color: $cyan; color: black }
  &--transparent { background-color: transparent; }
  &--clean-white { border: 1px solid white; color: white }

  &--full-width { width: 100% }

  &--rounded { border-radius: 50px }

  &--large {
    min-width: 200px;
    width: auto;
    height: 50px;
    font-size: 1rem;
    white-space: nowrap;

    @include medium {
      width: 300px;
      height: 50px;
      font-size: 1.5rem;
    }
  }
}
