@import "variables";

.card {

  &--centralized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--small {
    min-width: 300px;
  }

  &--text-center {
    text-align: center;
  }

  &--outline {
    border: 1px solid $grey;
  }

  &--bordered {
    border-top: 3px solid;
    border-image: linear-gradient(to right, $purple, $blue);
    border-image-slice: 1;
  }

  &--after-right {
    margin: 10px 0;

    @include medium {
      margin: 0;
      text-align: right;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: $dark-grey;
        border-right: 0;
        margin-top: -20px;
        margin-right: -20px;
      }
    }
  }

  &--after-left {
    margin: 10px 0;

    @include medium {
      margin: 0;
      text-align: left;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: $dark-grey;
        border-left: 0;
        margin-top: -20px;
        margin-left: -20px;
      }
      &:last-of-type { position: absolute; bottom: 0 }
    }
  }

  &--white { background-color: white }
  &--dark-grey { background-color: $dark-grey }

  &__content { padding: 15px }
}

.image-card {
  img { width: 100%; height: auto }
  margin-bottom: 50px;
  text-align: center;

  @include small-only {
    &:last-of-type { display: flex; flex-direction: column-reverse; }
  }

  @include small-up {
    display: flex;
    align-items: center;

    &--right { text-align: right; margin-left: 30px }
    &--left { text-align: left; margin-left: 30px }

    img { width: 30%; height: auto }
  }
}
