.columns {
  display: flex;
  flex-direction: column;

  @include medium { flex-direction: row }
}

.column {
  margin: 10px;
  
  &--1 { flex: 1 }
  &--2 { flex: 2 }
  &--3 { flex: 3 }
  &--4 { flex: 4 }
  &--5 { flex: 5 }
  &--6 { flex: 6 }
  &--7 { flex: 7 }
  &--8 { flex: 8 }
}
