@import "variables";

.content-section {
  @import 'colors';

  &__inner {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include limiter;
  }
}
