@import "variables";

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: calc(100vh - 100px);

  @include medium { width: 100vw; }

  &__action { padding: 25px 0 }

  &__inner {
    max-width: 100%;

    &--full-width {
      width: 100%;
    }
  }

  &--grey { background-color: $grey }
  &--purple { background-color: $purple }
  &--blue { background-color: $blue }
}
