@import "variables";

.dropdown {
  border-top: 1px solid $grey;

  &:last-child {
    border-bottom: 1px solid $grey;
  }

  &__content {
    padding: 10px 15px;
  }

  &__drop {
    display: none;
  }
}
