@import "variables";

.fancy-link {
  text-decoration: none;

  &--purple { color: $purple }
  &--blue { color: $blue }
  &--green { color: $green }
  &--yellow { color: $yellow }
  &--red { color: $red }
  &--grey { color: $grey }
  &--light-grey { color: $light-grey }
  &--dark-grey { color: $dark-grey }
  &--white { color: white }
  &--black { color: black }

  &--large { font-size: 1.5rem }

  &--with-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
  }
}
