@import "variables";

.form-input, select {
  padding: 6px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 1px solid #c2c2c2;
  width: -webkit-fill-available;

  &--text {
    min-height: 150px;
  }
}

select {
  background-color: white;
  padding: 5px;
}

.field_with_errors input {
  border: 1px solid $red;
}

.error {
  text-transform: capitalize;
  margin-left: 10px;
  color: #bf0000;
}

.fancy-input {
  background-color: white;
  display: flex;
  align-items: center;
  width: auto;
  margin-bottom: 15px;

  input {
    outline: 0;
    border: 0;
    padding: 0;
    font-size: 1rem;
    width: 80%
  }

  &--rounded { border-radius: 50px }
}

.input {
  width: 100%;
}
