@import "variables";

.header {
  background-image: url('<%= asset_path("landing.jpg") %>');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &__content {
    padding: 25px;
    @include limiter;
  }

  &__panel {
    width: 100%;
    height: 30vh;
    text-align: center;

    &:last-of-type { margin-top: 50px }

    @include small-up {
      text-align: left;

      &--right { text-align: right }
      &:last-of-type { max-width: 40% }
    }
  }

  &__action {
    max-width: 40%;
  }

  &__arrow {
    position: absolute;
    bottom: 0;
    transform: rotate(180deg);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    animation: bouncing 1s linear infinite;
  }
}
