@import "variables";

.icon {
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
  color: $purple;
  font-size: 1.5rem;

  &--active { color: $blue }
  &--black { color: black }
  &--small { font-size: 1rem; }

  &--home {
    content: asset-url("icons/home.png");

    &--selected { content: asset-url("icons/home-selected.png"); }
  }

  &--paragraph {
    content: asset-url("icons/paragraph.png");

    &--selected {content: asset-url("icons/paragraph-selected.png");}
  }

  &--gavel {
    content: asset-url("icons/gavel.png");

    &--selected {content: asset-url("icons/gavel-selected.png");}
  }

  &--chat {
    content: asset-url("icons/chat.png");

    &--selected { content: asset-url("icons/chat-selected.png") }
  }

  &--close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    color: $red;
    font-size: 2rem;
    z-index: 9999;
  }

  &--user-avatar { border-radius: 100% }

  @include medium {
    &--top {
      position: absolute;
      top: 0;
    }

    &--bottom {
      position: absolute;
      bottom: 0;
    }
  }
}
