@import "variables";

.profile-picture {
  border-radius: 100%;
  width: 210px;
  height: 210px;
  background: linear-gradient(45deg, $purple, $blue);

  &__img {
    border-radius: 100%;
    width: 200px;
    margin-top: 5px;
  }
}
