.popover {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px 30px;
  animation: fadein 0.3s;
  margin: 65px 10px;
  right: 0;

  &:after {
    content: '';
  	position: absolute;
  	width: 0;
    right: 0;
    top: 0;
  	height: 0;
  	border: 15px solid transparent;
  	border-right-color: white;
  	border-left: 0;
  	border-bottom: 0;
    margin-top: -10px;
  	margin-left: -15px;

    @include medium {
      left: 0;
    	top: 70%;
      margin-top: -7.5px;
    }
  }

  @include medium {
    bottom: 0;
    right: unset;
    margin: 10px 65px;
  }

  i { margin: 7px 0px; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
