@import 'variables';

.sidebar {
  display: flex;
  justify-content: space-between;
  height: 50px;

  @include medium {
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--menu {
    background-color: $light-grey;
    height: auto;

    @include medium { height: 100vh }
  }

  &__content {
    padding: 10px;
    display: none;

    @include medium { display: block }
  }

  &__mobile {
    width: 100%;
    text-align: right;

    @include medium { display: none }
  }

  &__mobile-show {
    display: none;
    text-align: center;
  }
}
