.step {
  background-color: $blue2;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

.line-step {
  background-color: $blue2;
  border: none;
  transform: rotate(90deg);
  width: 150px;
  height: 2px;
}
