@import "variables";

.table {
  width: 100%;

  @media screen and (max-width: 720px) {
    max-width: 100%;
    overflow-x: scroll;
  }
}

table {
	border-collapse: collapse;
}

th, td {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	text-align: left;
}

tr {
  background-color: white;
}

tr:nth-child(even) {background-color: $light-grey}
