@import "variables";

.title {
  &--nowrap { white-space: nowrap }
  &--thin { font-weight: 500 }
  &--extra-large { font-size: 3rem }
  &--large { font-size: 2.5rem }

  @import "text-colors";
  @include large { &--extra-large{ font-size: 4rem } }
}

.subtitle {
  text-transform: Capitalize;
  margin-top: 0;
  margin-bottom: 0;

  &--large { @include medium{font-size: 3rem} }
  &--thin { font-weight: 200 }

  @import "text-colors";
}

.text {
  &--large { @include medium{font-size: 2rem} }

  @import "text-colors";
}

h3 {
  margin-top: 0;
  font-weight: 400;
}

.copyright {
  color: #606060;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
  }

  a { color: #606060 }

  &--devise {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;

    a { color: white}
  }
}
