.site-content {
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;
    height: 100%;
  }
}

.filter {
  width: 100%;
  position: absolute;
  height: -webkit-fill-available;
  opacity: 0.5;
  filter: blur(10px);
}

.devise {
  background: linear-gradient(110deg, $purple, $blue);
  padding: 5px;
  color: white;
}

.inline {
  text-align: center;
  display: inline;
}

.advanced-inline {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#filterrific_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.right {
  float: right;
}

.landscape {
  @media screen and (orientation:portrait) { display: block }
  @media screen and (orientation:landscape) { display: none }

  i {
    font-size: 3rem;
    animation-delay: 1s;
    animation: spin 2s infinite;
  }

  &--white {
    color: white;
  }
}

.text-center {
  text-align: center;
}

.timeline {
  &__small { display: block; @include medium { display: none } }

  &__large { display: none; @include medium { display: flex } }

  display: flex;

  @include limiter;

  &__column {
    display: flex;
    flex-direction: column;
    height: 500px;

    &:first-of-type { justify-content: center }
    &:nth-of-type(2) { flex-direction: column; justify-content: space-around; align-items: center; }
    &:last-of-type { position: relative }

  }
}

.fixed {
  position: fixed;
  z-index: 999;
  transform: rotate(90deg) translateX(50vh);
  text-decoration: none;

  &--left {
    left: 0;
    margin-left: -60px;
  }
}
