// Colors
$blue: #66c1e4;
$blue2: #2f6df9;
$cyan: #42f29f;
$purple: #42519f;
$light-grey: #f6f5fa;
$grey: #d4d5d9;
$dark-grey: #989898;
$red: #bf0000;
$green: #44bb42;
$yellow: #d2d203;

// Breakpoints
@mixin extra-small {
  @media (max-width: 400px) { @content; }
}
@mixin small-height {
  @media (max-height: 500px) { @content; }
}
@mixin small-only {
  @media (max-width: 599px) { @content; }
}
@mixin small-up {
  @media (min-width: 600px) { @content; }
}
@mixin medium {
  @media (min-width: 900px) { @content; }
}
@mixin large {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large {
  @media (min-width: 1800px) { @content; }
}

// Limiters for 4K resolutions
@mixin limiter {
  max-width: 1700px;
  margin: 0 auto;
}
