@import 'components/fonts';
@import 'components/variables';

@import 'components/alert';
@import 'components/header';
@import 'components/text';
@import 'components/button';
@import 'components/content-section';
@import 'components/card';
@import 'components/column';
@import 'components/step';
@import 'components/utils';
@import 'components/animations';
@import 'components/border';
@import 'components/fancy-link';
@import 'components/form';

body {
  margin: 0;
  font-family: 'URW Gothic L';
}
