// Fontawesome icons pack
@import "font-awesome-sprockets";
@import "font-awesome";

// Color Variables, Breakpoints and utils
@import "components/variables";

// Components
@import 'components/sidebar';
@import 'components/icon';
@import 'components/content';
@import 'components/image-elements';
@import 'components/card';
@import 'components/text';
@import 'components/alert';
@import 'components/fancy-link';
@import 'components/form';
@import 'components/button';
@import 'components/table';
@import 'components/popover';
@import 'components/column';
@import 'components/modal';
@import 'components/dropdown';
@import 'components/utils';
@import 'components/animations';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
