= simple_form_for(@appointment, defaults: { input_html: { class: 'form-input' } }) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .card.card--white{style: "text-align: left"}
    .card__content
      .form-inputs
        = f.input :name
        = f.input :email, as: :email
        = f.input :phone, class: "phone"
        = f.input :demand, as: :text
        = f.input :preference, as: :select, collection: ["Whatsapp", "Ligação Telefônica", "Email"], label: "Como você prefere que entremos em contato?"

  %br

  .advanced-inline
    = link_to 'Voltar', :back, class: 'fancy-link fancy-link--white'
    = f.submit "Solicitar atendimento", class: "button button--green"
