.landscape.landscape--white
  %br
  %h3 Vire a tela do celular
  = icon('fas', 'mobile')

#filterrific_results
  %br
  .table
    %table
      %thead
        %tr
          %th Nome
          %th Email
          %th Telefone
          %th Preferência
          %th
          %th

      %tbody
        - appointments.each do |appointment|
          %tr
            %td= appointment.name
            %td= appointment.email
            %td= appointment.phone
            %td= appointment.preference
            %td= link_to icon('fas', 'eye', class: 'fancy-link fancy-link--purple'), appointment
            %td= link_to icon('fas', 'trash', class: 'fancy-link fancy-link--red'), appointment, method: :delete, data: { confirm: 'Are you sure?' }
    = will_paginate appointments # provided by will_paginate
