.content.content--purple
  .content__inner
    .card--centralized.card--text-center
      -if notice.present?
        %p#notice= notice

      %h1.title.title--white.title--thin.title--large Solicitações de Atendimento

      %br

      = form_for_filterrific @filterrific do |f|
        %div{style: "display: inline-block"}
          = f.text_field(                              |
            :search_query,                             |
            class: 'filterrific-periodically-observed form-input', |
            placeholder: 'Buscar por algo...'             |
          )                                            |

        %div{style: "display: inline-block"}
          = f.select(:sorted_by, @filterrific.select_options[:sorted_by])

        %div{style: "margin-bottom: 15px; display: inline-block"}
          = link_to reset_filterrific_url, class: "fancy-link" do
            %button.button Apagar Filtros

        %div{style: "display: inline-block"}
          = f.submit "search", class: "button button--green"

      = render(                    |
        partial: 'appointments/list',     |
        locals: { appointments: @appointments  } |
      )                            |
