%h1.title.title--white{style: "margin-bottom: 0"} Solicitar Atendimento
%h6.subtitle.subtitle--grey{style: "margin-top: 0"} Solicite atendimento e entraremos em contato com você

%br

- if flash.any?
  - flash.each do |flash|
    %p#flash{class: "#{flash[0]}"}= flash[1]

= notice


= render 'form'
