.content.content--grey
  - if notice
    %p#notice= notice

  .card.card--white
    .card__content
      %h1.title.title--thin= @appointment.name
      %p= "Email: " + @appointment.email
      %p= "Telefone: " + @appointment.phone
      %p= "Demanda: " + @appointment.demand
      %p= "Preferência: " + @appointment.preference
      %p= "Data da solicitação: " + @appointment.created_at.strftime("%d de %B")

      %hr

      .advanced-inline
        = link_to "Voltar", :back, class: "fancy-link fancy-link--purple"
        = link_to icon('fas', 'trash', 'Excluir', class: 'fancy-link fancy-link--red'), @appointment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fancy-link fancy-link--red'
