!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Plataform
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i", :rel => "stylesheet"}/

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    .site-content
      .sidebar
        %a.icon--top{href: "/"}
          %i.icon.icon--home{class: "#{link_active("home")}"}

        - if current_user.role == "Boss"
          %a{href: users_path}
            = icon('fas', 'users', class: "icon #{link_active('users')}")
          %a{href: appointments_path}
            = icon('fas', 'phone', class: "icon #{link_active('appointments')}")

        %a{href: "/books"}
          %i.icon.icon--paragraph{class: "#{link_active("paragraph")}"}
        %a{href: "#"}
          %i.icon.icon--gavel{class: "#{link_active("gavel")}"}
        %a{href: "#"}
          %i.icon.icon--chat{class: "#{link_active("chat")}"}
        %a.icon--bottom{href: "#", onClick: "$('#popover').toggle()", "data-turbolinks" => "false"}
          %img.icon.icon--user-avatar{src: "#{current_user.avatar.url(:side_bar)}"}

      - if content_for(:menu)
        .sidebar.sidebar--menu
          = content_for(:menu)

      .popover#popover{"data-turbolinks" => "false"}
        = link_to(icon('fas', 'sign-out-alt', 'Sair'), destroy_user_session_path, :method => :delete, class: 'fancy-link fancy-link--purple')
        %br
        = link_to icon('fas', 'key', 'Editar minha Conta'), edit_user_path(current_user), class: 'fancy-link fancy-link--purple'

      = yield

    %script{:crossorigin => "anonymous", :integrity => "sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=", :src => "https://code.jquery.com/jquery-3.3.1.js"}

    = yield(:modal)
    = yield(:javascript)
