!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Plataform
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i", :rel => "stylesheet"}/

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body.devise.card--centralized{style: 'height: 100vh'}

    .card.card--small
      .card__content
        = yield

    %small.copyright.copyright--devise{style: 'margin-bottom: 10px;'}
      © Gilcorp 2018. All right reserved | Made by
      %a{href: "https://rannyeribaptist.github.io"}rannyeribaptist.github.io
