!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gilcorp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'landing', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    -# %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i", :rel => "stylesheet"}/

    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    = yield
